[Desktop Entry]
Type=Application
Name=Gourdian
GenericName=Dota 2 coach
Comment=Live coaching for Dota 2
Exec=gourdian run -open
Icon=gourdian
Terminal=false
Categories=Game;
Keywords=dota;coach;trainer;
StartupNotify=false
